<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2>Listagem</h2>
    <ul>
      <% customersList.map(customer => { %>
        <li><%= customer.name %> (<%= customer._id %>)</li>
      <% }) %>
    </ul>
    <form action="save" method="post">
      <div>
        <h2>Cadastro</h2>
        <label for="">Nome
          <input type="text" name="name">
  
        </label>
      </div>
      <div>
        <label for="">Idade:
          <input type="text" name="age">
        </label>
      </div>
  
      <p>
        <input type="submit" value="Salvar">
      </p>

    </form>

    <h2>Exclusão</h2>
      <form action="delete" method="post">
        <p>
          <label for="">ID:
            <input type="text" name="id">
          </label>
        </p>

        <p>
          <input type="submit" value="Excluir">
        </p>
      </form>

      <h2>Edição</h2>
      <form action="update" method="post">
        <p>
          <label for="">ID:
            <input type="text" name="id">
          </label>
        </p>

        <label for="">Nome
          <input type="text" name="name">
  
        </label>

        <p>
          <input type="submit" value="Update">
        </p>
      </form>
  </body>
</html>
